html {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

/*HEADER AND NAVIGATION*/

@media only screen and (max-width: 470px) {
  .navbar {
    display: none;
  }
}

.mobilenav {
  display: none;
}

@media only screen and (max-width: 470px) {
  .mobilenav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
}

h1, h2, h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.nav h1 {
  font-family: 'Dancing Script', cursive;
}

 #acad {
  font-family: helvetica;
}
.navbar img{
padding: 1rem;
height: 5rem;
}

.navbar {
  width: 100%;
  height: 5rem;
}

.navbar-right {
  margin-top: 1rem;
}

.navbar-center{
  width: 50%
}

.btn-primary {
  background-color: #4dffa0;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #00803c;
  transform: scale(1.2, 1.2);
  transition: 0.3s ease;
}

/*Styles for the learn section*/

.learn {
  display: flex;
  background-color: #e6fff1;
  padding-top: 6rem;
}

.learntxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.learntxt h1, h4 {
  padding-left: 1.5rem;
}

.button {
  display: flex;
  width: 9rem;
  height: 2rem;
  margin-left: 9rem;
  justify-content: center;
  align-items: center;
  background-color: #4dffa0;
  border-radius: 5px;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #00803c;
  transform: scale(1.2, 1.2);
}

.button a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (max-width: 470px) {
  .button {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
}

.learn img{
  width: 56.5%;
  height: 55%;
  padding: 2rem 1.5rem;
}

@media only screen and (max-width: 470px) {
  .learn {
    display: inline-block;
    padding-top: 0rem;
  }
  #study {
    width: 100%;
    padding-left: 0rem;
    border-radius: 5px;
  }

  .learn img {
    padding: 0rem;
  }
}

.information {
  display: flex;
  padding-top: 2rem;
}

#reading {
  height: auto;
  width: 94%;
  padding-left: 1.5rem;
  border-radius: 5px;
}

.infocont1 {
  /*border: solid red 0.1rem;*/
  width: 60%;
  height: 38rem;
}

@media only screen and (max-width: 470px) {
  .information {
    display: flex;
    flex-direction: column;
  }
  .infocont1 {
    display: none;
  }
}

#textcont1 {
  padding: 0 1.5rem;
}

#textcont1 p {
  text-align: justify;
}

.info2 {
  flex-direction: row;
  width: 40%;
}

.info2 a {
  display: flex;
  width: 7rem;
  height: 2rem;
  margin-left: 1rem;
  align-items: center;
  background-color: #4dffa0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}

.info2 a:hover {
  background-color: #00803c;
  transform: scale(1.2, 1.2);
}

.infocont2{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#mobile {
  background-color: #e6fff1;
}

@media only screen and (max-width: 470px) {
  .info2 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .infocont2 {
    flex-direction: column;
  }
}

.infocont2 img {
  width: 35%;
  height: 25%;
  padding-top: 2rem;
}

.infotextcont2 h3 {
  padding-left: 1rem;
}

.infotextcont2 p {
  padding-left: 1rem;
}

.infotextcont2 a{
  padding-left: 1rem;
}

#specialguest {
  display: none;
}

#guest, #campus, #orientation {
  display: none;
}

/*MEDIA QUERY FOR INFORMATION SECTION*/

@media only screen and (max-width: 470px) {
  .infocont2 img {
    display: none;
  }

  #guest, #campus, #orientation {
    display: block;
    width: 100%;
  }

  #ourguest {
    display: none;
  }

  #specialguest {
    display: block;
  }
}

/*THESIS SECTION*/

#thesishd {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.thesis {
    display: flex;
    flex-direction: row;
}

.vidcol {
  width: 60%;
}

.vidcol img{
  /*width: 90%;*/
  padding-left: 10rem;
}

.vidcol p {
  width: 90%;
  padding-left: 1.5rem;
  text-align: justify;
}

.vidcol h2 {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 470px){
  .vidcol p, h2 {
    display: none;
  }
  .vidcol{
    width: 100%;
  }
  .vidcol img {
    padding: 0rem 0rem 0rem 0rem;
  }
}

.thesiscol {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 470px){
  .thesiscol {
    display: none;
  }
}

.fisma {
  display: flex;
  flex-direction: row;
}

.fisma img{
  height: 35%;
  width: 35%;
  padding: 1rem;
}

.fismatxt {
  display: flex;
  flex-direction: column;
}

.fismatxt a {
  text-decoration: none;
  color: #000000;
}

.fismatxt a:hover {
  color: #00803c;
}

.thesisheading {
  transition: 0.3s ease;
}

.thesisheading:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.75;
    border-radius: 360px;
    border: solid #000000 0.1rem;
    text-align: center;
    background-color: #ffffff;
    width: 90%;
}

#fismadesign {
  background-color: #e6fff1;
}

#now {
  display: flex;
  flex-direction: row;
}


/* Contact us link and button*/
#contact {
  display: flex;
  width: 7rem;
  height: 2rem;
  margin-left: 1rem;
  align-items: center;
  background-color: #4dffa0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease;
}

#contact:hover {
  background-color: #00803c;
  transform: scale(1.2, 1.2);
}

#contact p {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
/*Footer styling*/

footer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}

.legal {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  padding-right: 1rem;
}

.legal a {
  transition: 0.3s ease;
  text-decoration: none;
  font-weight: 600;
}

.legal a:hover {
  color: #0099ff;
}

.fontawesome {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 1rem;
}

.fontawesome a {
  padding-left: 1rem;
  transition: 0.3s ease;
}

.fontawesome a:hover {
  color: #0099ff;
}

.copyright {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 470px) {
  #terms {
    display: none;
  }
  .legal {
    display: none;
  }
  .fontawesome {
    display: none;
  }
}
